# Python
__pycache__/
*.py[cod]
*.so
venv/.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Файлы окружения
.env
.env.local

# Логи и данные
*.log
*.pid
*.sqlite3
/data/
/outputs/

# Кеш Hugging Face
~/.cache/huggingface/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
